.table__content-inputbox {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.submission__form-btn {
    background: #000;
    padding: 10px;
    margin-left: 40px;
    width: 80%;
}