.header__nav {
    display: block;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #000;
    padding: 20px 20px;
    
}

.header__nav a {
    color: #fff;
    text-decoration: none;
}

.header__nav-title {
    font-size: 20px;
    font-weight: bold;
}

.header__nav-category {
    font-size: 12px;
    margin: auto 0;
}