/* 共通ｃｓｓ */
.btn {
    color: #fff;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

table {
    table-layout: fixed;
    width: 100%;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

.list__item-underline {
    border-bottom: solid 1px black;
    padding: 0;
}

.blank {
    margin-bottom: 30px;
}

/* 各ブロック */
.message {
    display: inline-block;
    width: 100%;
}

.message__success {
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
    width: 100%;
    padding: 20px 10px;
}

.message__error {
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
}

.framework {
    display: block;
    max-width: 600px;
    margin: 30px auto;
}

.submission__form {
    display: flex;
        justify-content: space-between;
    margin: 0;
}

.submission__form-area {
    width: 60%;
}

.submission__form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.submission__form-btn {
    background: #000;
    padding: 10px;
}

.category__list {
    width: 100%;
    padding: 10px;
}


.table__content {
    margin: 0;
    display: flex;
    justify-content: space-between;
}
    
.table__content-item-1 {
    width: 85%;
}

.table__content-item-2 {
    width: 15%;
}

.table__content-inputbox {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.update-btn {
    background: #0000ff;
    margin: 5px auto;
}

.delete-btn {
    background: #ff0000;
}
